@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

:root {
  /* --secondary: #09beb5; */
  --secondary: #EF7272;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #000;
  font-weight: 700;
}
ul,ol{ margin:0; padding:0; list-style: none }
a, a:hover { text-decoration: none;}

.hero-text input[type="text"], input[type="email"], input[type="date"], input[type="tel"], input[type="cal"], input[type="submit"], button[type="submit"], textarea {
	width: 55%;
	border: 1px solid #e3dfdf;
	background: #e3dfdf;
	padding: 11px;
	border-right: none;
}
.hero-text input[type="button"], button[type="submit"] {
	width: auto;
	color: #000;
	padding: 12px 21px;
	cursor: pointer;
	font-size: 15px;
	margin-left: 9px;
	background: var(--secondary);
	border: navajowhite;
}

.modal-title {color:#000}
.logo a {
  color: #000;
  font-weight: 700;
  font-size: 25px;
}
.header.fixed .logo a,
.header.fixed .menu a {
  color:#fff;
}
.logo a span,
.hero-text span {
  color:#fff;
}
.header.fixed .logo a span,
.modal-title span{
  color: var(--secondary)
}
.menu li {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  opacity: .8;
  padding: 5px 15px;
  cursor: pointer;
}
.pd-50{padding: 150px 0}
.menu li:hover {
  opacity: 1;
  transition: opacity .3s linear;
}
.header {
	padding: 25px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
	min-height: 100px;
}
.header.fixed{
  position:fixed;
  background-color:#000;
}
.country-list {
	margin-top: 7.3%;
}
.menu {
  text-align: right;
}


/* If the targeted device is mobile phone or tablet*/
.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
	color: #fff;
	cursor: pointer;
	text-align: center;
	border-bottom: 1px solid;
}
.navbar-toggler.smallScreenMenu {
	position: absolute;
	right: 0;
  top: -35px;
  display:none;
}
.animated-icon1{
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
  .animated-icon1 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
  background: #e65100;
  }
  
  .animated-icon1 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
  top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
  top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }
  .header-area {
    padding: 5px 0;
    position: fixed;
    z-index: 99;
    width: 100%;
  }
  .navbar-brand img {
    width: 130px;
  }
  #navbarSupportedContent20 {background: #000}
  #navbarSupportedContent20 a {
    color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px;
  }
  .navbar {padding: 0px 1rem;}

.hero-area {
  background-image: url(../img/hero-section.jpg);
  background-size:cover;
  background-position: center;
  background-color:#000;
  padding: 100px 0;
  position: relative;
  z-index: 1;
}
.hero-area::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: var(--secondary);
  z-index: -1;
  opacity: .9;
}
.hero-text h1 {
  font-size:35px;
  color: #000;
}
.hero-text {
	padding: 95px;
	line-height: 2;
}
.hero-text p {
  margin-bottom: 35px;
}

.boxed-btn {
  display: inline-block;
  color: #fff;
  position: relative;
  z-index: 1;
  border:1px solid #fff;
  padding: 10px 12px;
  border-radius: 2px;
  transition: all .4s linear;
  margin-right: 15px;
}

.boxed-btn::after{
  position: absolute;
  content: '';
  background: black;
  color: #fff;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border: none ;
  z-index: -1;
  transition: all .4s linear
}
.boxed-btn:hover::after{
  width: 100%;
}
.boxed-btn:hover{
  color: #fff !important;
  cursor: pointer;
  border-color:#000;
}
.boxed-btn svg {
  margin-left: 10px;
}


/* Counries.html page design */
.tbody {
  color:#000 
}

.tbody span {
  color:#000 !important;
  cursor:help;
}
.modal-body span {
	font-weight: normal;
  margin-left: 8px;
  color:#000 !important;
}
.modal-body {
	color: #595656;
	font-style: italic;
	font-weight: 600;
}

.learnMoreBtn {
	display: inline-block;
	background: var(--secondary);
	color: #fffbfb;
	padding: 13px 20px;
	border-radius: 5px;
  margin-top: 25px;
  transition-duration: .4s;
}
.learnMoreBtn:hover svg {
  margin-left: 10px;
  transition:all .4s linear
}
.learnMoreBtn:hover {
  color:#000;
  transition:all .4s linear;
}

.country-list span {
  color: var(--secondary)
}



/* Search bar */
.header-search {
  margin: 0px;
  padding: 10px 0;
}
.header-search h5 {
  color: #fff;
  padding-top: 9px;
  font-style: italic;
  font-weight: normal;
}
.country-list input {
  background: var(--secondary);
  border-color: var(--secondary);
}

.country-list input::placeholder {
  color: #fff;
}

/* AutoComplete */
.search-box {display: none;}
#autoComplete_results_list {
	position: fixed;
	height: 75vh;
	overflow: auto;
	z-index: 1000;
	padding: 0;
	right: -58%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 18rem;
	overflow: hidden;
	transition: all .1s ease-in-out;
	-webkit-transition: all -webkit-transform .1s ease;
}
.autoComplete_result {
	border: .05rem solid #212529;
	color: #fefbfb;
	background-color: #212529;
	margin: 0;
	border-bottom: .5px solid;
}
.autoComplete_result:hover {
	color: #000;
}
.no_result {
  margin: 0.15rem auto;
  padding: 0.6rem;
  max-width: 280px;
  border: 0.05rem solid #e3e3e3;
  list-style: none;
  text-align: left;
  font-size: 1.1rem;
  color: rgb(123, 123, 123);
  transition: all 0.1s ease-in-out;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  outline: none;
}

.no_result:hover {
  cursor: default;
  background-color: #fff;
  border: 0.05rem solid #e3e3e3;
}

.no_result:focus {
  cursor: default;
  background-color: #fff;
  border: 0.05rem solid #e3e3e3;
}

.in {
  padding: 0 2rem 0 3.5rem;
  color: rgba(255, 122, 122, 1);
  height: 3rem;
  width: 16.5rem;
  border: 0.05rem solid rgb(255, 122, 122);
  background: url("./images/magnifier.svg") no-repeat left/15% 1.5rem;
  box-shadow: rgba(255, 122, 122, 0.1) 0px 0px 20px 5px;
  position: relative;
  font-size: 1.2rem;
  outline: none;
  border-radius: 50rem;
  border: 0.05rem solid rgb(255, 122, 122);
  caret-color: rgb(255, 122, 122);
  transition: all 0.4s ease;
  -webkit-transition: all -webkit-transform 0.4s ease;
  text-overflow: ellipsis;
}

.out {
  position: relative;
  padding: 0 2rem 0 3.5rem;
  height: 2.1rem;
  width: 6rem;
  font-size: 1.2rem;
  outline: none;
  border-radius: 50rem;
  border: 0.05rem solid rgb(255, 122, 122);
  caret-color: rgb(255, 122, 122);
  color: rgba(255, 255, 255, 0);
  background: url("./images/magnifier.svg") no-repeat center/10% 1.5rem;
  transition: all 0.4s ease;
  -webkit-transition: all -webkit-transform 0.4s ease;
  text-overflow: ellipsis;
}


/* Scroll Top */
.scrollTop {
	display: none;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 30px;
	right: 23px;
	padding: 0;
	overflow: hidden;
	outline: none;
	border: none;
	border-radius: 2px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	cursor: hand;
	border-radius: 50%;
	background: var(--secondary);
}
.scrollTop {
	background-image: url(./icons/top-arrow.svg);
	background-position: center 50%;
	background-repeat: no-repeat;
}
.scrollTop:hover {
	box-shadow: 0 0 19px #252323;
}

/* filtering isotope section markup */
.filter {padding:4px 0;  position: relative;}
.filter-continent li {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.filter-continent li:hover {
  background-color:var(--secondary);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #fff;
}

.filter-continent li.active {
  background-color: var(--secondary);
  color:#fff;
}



/* nprogess */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--secondary);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--secondary), 0 0 5px var(--secondary);
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--secondary);
  border-left-color: var(--secondary);
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* About Page Style */

.about-page {
  background-color: var(--secondary);
  background-image: url(../img/about.gif);
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.about-page::after {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  content:'';
  background: var(--secondary);
  opacity: .7;
  z-index: -1;
}

.about-content h5 {
  color: #fff;
  font-style: italic;
  font-weight: normal;
  margin-top: 40px;
}
.stack li {
  display: inline-block;
  text-align: center;
  padding-right: 30px;
}
.stack li a {
  display: block;
  color: #000;
  transition: all .3s linear;
}
.stack li span {
  display: block;
  font-style: italic;
  font-weight: bold;
  padding-top: 8px;
}
.stack li svg {
  font-size: 30px;
  color:#424343;
  transition: all .3s linear;
}
.stack li a:hover {
  color: white;
}
.stack li a:hover svg {
  opacity: 0.7;
}
.stack {
  padding: 30px 0;
}
.about-content h3 span {
  color: #fff;
}

.stack p {
	margin-top: 31px;
	font-weight: bold;
	display: inline-block;
	box-shadow: 0 0 10px #6a6969;
	padding: 10px;
	border-radius: 50px;
}
.stack p a {
  color: #fff;
  margin-left: 5px;
  transition: all .3s linear;
  
}
.stack p a:hover > svg {
  margin-left: 10px;
  display: inline-block;
  color:red;
  transition: all .3s linear;
  
}
/* Single Country List Page */
.single-country-list {
  background-image: url(../img/singlePageImage.jpg);
  background-size: cover;
  background-position: center;
  background-color: #000;
  position: relative;
  z-index: 1;
  padding-top: 130px;
  height:100vh;
}
.single-country-list::after {
  position: absolute;
  content: '';
  background: var(--secondary);
  left: 0;
  top:0;
  width:100%;
  height: 100%;
  z-index: -1;
  opacity: .8;
}
.country-header h3 {
	font-style: italic;
	border-bottom: 1px solid #db5252;
	border-top: 1px solid #db5252;
	padding: 9px 0;
  margin-bottom: 30px;
  color:#fff;
}
.country-content h5 span {
  font-style: italic;
  font-weight: normal;
  color: #fff;
  padding-left: 10px;
}

/* Table Style Fixed */
.table td, .table th {
	border-top:none;
}
tr {border-bottom: 1px solid #ddd}
/* 
    RESPONSIVE 
*/

/* Table Responsive */
.table-responsive {display:table}


@media screen and (min-width: 576px) {
  .navbar-toggler.smallScreenMenu {right: -55%;}
}
@media screen and (max-width: 772px) {
  .menu {display:none;}
  .navbar-toggler.smallScreenMenu {display: block;}
  .filter-continent li{display:none;}
}
@media screen and (min-width:550px) and (max-width:990px) {
  .menu li {
    font-size: 17px;
    padding: 5px;
  }
  .filter-continent li{padding:10px;}
}
@media screen and (min-width:590px){
  .hero-text {padding:95px 0}
}

@media screen and (max-width:700px){
  .hero-text h1{font-size:30px;}
}