@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

:root {
  /* --secondary: #09beb5; */
  --secondary: #EF7272;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #000;
  font-weight: 700;
}
ul,ol{ margin:0; padding:0; list-style: none }
a, a:hover { text-decoration: none;}

.hero-text input[type="text"], input[type="email"], input[type="date"], input[type="tel"], input[type="cal"], input[type="submit"], button[type="submit"], textarea {
	width: 55%;
	border: 1px solid #e3dfdf;
	background: #e3dfdf;
	padding: 11px;
	border-right: none;
}
.hero-text input[type="button"], button[type="submit"] {
	width: auto;
	color: #000;
	padding: 12px 21px;
	cursor: pointer;
	font-size: 15px;
	margin-left: 9px;
	background: var(--secondary);
	border: navajowhite;
}

.modal-title {color:#000}
.logo a {
  color: #000;
  font-weight: 700;
  font-size: 25px;
}
.header.fixed .logo a,
.header.fixed .menu a {
  color:#fff;
}
.logo a span,
.hero-text span {
  color:#fff;
}
.header.fixed .logo a span,
.modal-title span{
  color: var(--secondary)
}
.menu li {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  opacity: .8;
  padding: 5px 15px;
  cursor: pointer;
}
.pd-50{padding: 150px 0}
.menu li:hover {
  opacity: 1;
  transition: opacity .3s linear;
}
.header {
	padding: 25px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
	min-height: 100px;
}
.header.fixed{
  position:fixed;
  background-color:#000;
}
.country-list {
	margin-top: 7.3%;
}
.menu {
  text-align: right;
}
.hero-area {
  background-image: url(../img/hero-section.jpg);
  background-size:cover;
  background-position: center;
  background-color:#000;
  padding: 100px 0;
  position: relative;
  z-index: 1;
}
.hero-area::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: var(--secondary);
  z-index: -1;
  opacity: .9;
}
.hero-text h1 {
  color: #000;
}
.hero-text {
	padding: 95px;
	line-height: 2;
}
.hero-text p {
  margin-bottom: 35px;
}

.boxed-btn {
  display: inline-block;
  color: #fff;
  position: relative;
  z-index: 1;
  border:1px solid #fff;
  padding: 10px 12px;
  border-radius: 2px;
  transition: all .4s linear;
  margin-right: 15px;
}

.boxed-btn::after{
  position: absolute;
  content: '';
  background: black;
  color: #fff;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  border: none ;
  z-index: -1;
  transition: all .4s linear
}
.boxed-btn:hover::after{
  width: 100%;
}
.boxed-btn:hover{
  color: #fff !important;
  cursor: pointer;
  border-color:#000;
}
.boxed-btn svg {
  margin-left: 10px;
}


/* Counries.html page design */
.tbody {
  color:#000 
}

.tbody span {
  color:#000 !important;
  cursor:help;
}
.modal-body span {
	font-weight: normal;
  margin-left: 8px;
  color:#000 !important;
}
.modal-body {
	color: #595656;
	font-style: italic;
	font-weight: 600;
}

.learnMoreBtn {
	display: inline-block;
	background: var(--secondary);
	color: #fffbfb;
	padding: 13px 20px;
	border-radius: 5px;
  margin-top: 25px;
  transition-duration: .4s;
}
.learnMoreBtn:hover svg {
  margin-left: 10px;
  transition:all .4s linear
}
.learnMoreBtn:hover {
  color:#000;
  transition:all .4s linear;
}

.country-list span {
  color: var(--secondary)
}



/* Search bar */
.header-search {
  margin: 0px;
  padding: 10px 0;
}
.header-search h5 {
  color: #fff;
  padding-top: 9px;
  font-style: italic;
  font-weight: normal;
}
.country-list input {
  background: var(--secondary);
  border-color: var(--secondary);
}

.country-list input::placeholder {
  color: #fff;
}

/* AutoComplete */
#autoComplete_results_list {
	position: fixed;
	height: 75vh;
	overflow: auto;
	z-index: 1000;
	padding: 0;
	right: -58%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 18rem;
	overflow: hidden;
	transition: all .1s ease-in-out;
	-webkit-transition: all -webkit-transform .1s ease;
}
.autoComplete_result {
	border: .05rem solid #212529;
	color: #fefbfb;
	background-color: #212529;
	margin: 0;
	border-bottom: .5px solid;
}
.autoComplete_result:hover {
	color: #000;
}
.no_result {
  margin: 0.15rem auto;
  padding: 0.6rem;
  max-width: 280px;
  border: 0.05rem solid #e3e3e3;
  list-style: none;
  text-align: left;
  font-size: 1.1rem;
  color: rgb(123, 123, 123);
  transition: all 0.1s ease-in-out;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  outline: none;
}

.no_result:hover {
  cursor: default;
  background-color: #fff;
  border: 0.05rem solid #e3e3e3;
}

.no_result:focus {
  cursor: default;
  background-color: #fff;
  border: 0.05rem solid #e3e3e3;
}

.in {
  padding: 0 2rem 0 3.5rem;
  color: rgba(255, 122, 122, 1);
  height: 3rem;
  width: 16.5rem;
  border: 0.05rem solid rgb(255, 122, 122);
  background: url("./images/magnifier.svg") no-repeat left/15% 1.5rem;
  box-shadow: rgba(255, 122, 122, 0.1) 0px 0px 20px 5px;
  position: relative;
  font-size: 1.2rem;
  outline: none;
  border-radius: 50rem;
  border: 0.05rem solid rgb(255, 122, 122);
  caret-color: rgb(255, 122, 122);
  transition: all 0.4s ease;
  -webkit-transition: all -webkit-transform 0.4s ease;
  text-overflow: ellipsis;
}

.out {
  position: relative;
  padding: 0 2rem 0 3.5rem;
  height: 2.1rem;
  width: 6rem;
  font-size: 1.2rem;
  outline: none;
  border-radius: 50rem;
  border: 0.05rem solid rgb(255, 122, 122);
  caret-color: rgb(255, 122, 122);
  color: rgba(255, 255, 255, 0);
  background: url("./images/magnifier.svg") no-repeat center/10% 1.5rem;
  transition: all 0.4s ease;
  -webkit-transition: all -webkit-transform 0.4s ease;
  text-overflow: ellipsis;
}


/* Scroll Top */
.scrollTop {
	display: none;
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 30px;
	right: 23px;
	padding: 0;
	overflow: hidden;
	outline: none;
	border: none;
	border-radius: 2px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	cursor: hand;
	border-radius: 50%;
	background: var(--secondary);
}
.scrollTop {
	background-image: url(./icons/top-arrow.svg);
	background-position: center 50%;
	background-repeat: no-repeat;
}
.scrollTop:hover {
	box-shadow: 0 0 19px #252323;
}

/* filtering isotope section markup */
.filter {padding:4px 0;  position: relative;}
.filter-continent li {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.filter-continent li:hover {
  background-color:var(--secondary);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #fff;
}

.filter-continent li.active {
  background-color: var(--secondary);
  color:#fff;
}



/* nprogess */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--secondary);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--secondary), 0 0 5px var(--secondary);
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--secondary);
  border-left-color: var(--secondary);
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* 
    RESPONSIVE 
*/

/* Table Responsive */
.table-responsive {display:table}

