@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLightItalic';
    src: url('../fonts/Roboto-LightItalic.ttf');
}
@font-face {
    font-family: 'Kaushan';
    src: url('../fonts/KaushanScript-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    outline: 0;  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'RobotoLightItalic', sans-serif;
    font-size: 15px;
    color: #999;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'MontserratRegular', sans-serif;
    margin: 0 0 15px;
    text-transform: uppercase;
    color: #333;
}
ul,ol{
  margin:0;
  padding:0;
  list-style: none
}
a, a:hover { text-decoration: none;
}

textarea {
  resize: none;
  height: 164px;
}
.section-padding {
    padding: 100px 0;
}
.section-title {
  margin: 70px 0;
}
.section-title h3 {
  font-family: 'MontserratBold' ,sans-serif;
  position: relative;
  z-index: 2;
  font-size: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.section-title h3::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: '';
  background: var(--red);
  margin-left: -30px;
}
 .stylish-text{
    font-size: 24px;
    font-family: 'Kaushan';
    text-transform:none;
 }
/* Color Declearation */

:root {
    --main:#95e1d3;
    --red:#f38181;
    --overlay: linear-gradient(to bottom, rgba(41,137,216,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(235,209,131,1) 100%,rgba(233,209,131,1) 100%);;
    
}




/* Section Background Images */

.homepage-slides{background-image: url(../img/hero-bg.jpg);}
.responsive-area{background-image: url(../img/responsive-area-bg.jpg);}
.accordian-section-img-box{background-image: url(../img/service-img.jpg);}
.location-area{background-image: url(../img/location-bg.jpg);}

/* About Section Images */

.about-bg-1{background-image: url(../img/about-1.jpg);}
.about-bg-2{background-image: url(../img/about-2.jpg);}
.about-bg-3{background-image: url(../img/about-3.jpg);}

/* Our Team carousel Images */

.team-bg-1{background-image: url(../img/team-1.jpg);}
.team-bg-2{background-image: url(../img/team-2.jpg);}
.team-bg-3{background-image: url(../img/team-3.jpg);}

/* Portfolio Sectio Images */

.portfolio-bg-1{background-image: url(../img/portfolio-1.jpg);}
.portfolio-bg-2{background-image: url(../img/portfolio-2.jpg);}
.portfolio-bg-3{background-image: url(../img/portfolio-3.jpg);}
.portfolio-bg-4{background-image: url(../img/portfolio-4.jpg);}
.portfolio-bg-5{background-image: url(../img/portfolio-5.jpg);}
.portfolio-bg-6{background-image: url(../img/portfolio-6.jpg);}
.portfolio-bg-7{background-image: url(../img/portfolio-7.jpg);}

/* Footer Blog Images */

.blog-bg-1{background-image: url(../img/blog-bg.jpg);}
.blog-bg-2{background-image: url(../img/blog-bg-2.jpg);}
.blog-bg-3{background-image: url(../img/blog-3.jpg);}

/* Instagram Images on Footer */

.img-box-1{background-image: url(../img/portfolio-1.jpg);}
.img-box-2{background-image: url(../img/portfolio-2.jpg);}
.img-box-3{background-image: url(../img/portfolio-3.jpg);}
.img-box-4{background-image: url(../img/portfolio-4.jpg);}
.img-box-5{background-image: url(../img/portfolio-5.jpg);}
.img-box-6{background-image: url(../img/portfolio-6.jpg);}
.img-box-7{background-image: url(../img/portfolio-7.jpg);}
.img-box-8{background-image: url(../img/blog-bg.jpg);}
.img-box-9{background-image: url(../img/blog-bg-2.jpg);}

.logo img {
  max-width: 250px;
}
.mainmenu li {
  display: inline-block;
}
.mainmenu li a {
  display: block;
  padding: 11px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'MontserratRegular';
}
.header-area {
  padding: 30px 0;
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  z-index: 10;
}
.mainmenu li a:hover {
  color: #fce38a;
  border-bottom: 1px solid;
}
.homepage-slides {
  background-size: cover;
  background-position: center;
  background-color: var(--main);
  position: relative;
  z-index: 1;
}
.homepage-slides::after{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(41,137,216);
  background: -moz-linear-gradient(top, rgba(41,137,216,1) 0%, rgba(231,130,129,1) 0%, rgba(231,130,129,1) 0%, rgba(231,130,129,1) 0%, rgba(235,209,131,1) 100%, rgba(233,209,131,1) 100%);
  background: -webkit-linear-gradient(top, rgba(41,137,216,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(235,209,131,1) 100%,rgba(233,209,131,1) 100%);
  background: linear-gradient(to bottom, rgba(41,137,216,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(235,209,131,1) 100%,rgba(233,209,131,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#e9d183',GradientType=0 );
z-index: -1;
opacity: .9;
content: '';
}



.homepage-slides {
  height: 100%;
  width: 100%;

}
.slider-text h2 , h1 {
  color: #fff;
}
.slider-text h1 {
  font-size: 70px;
  font-family: 'MontserratBold';
  letter-spacing: 13px;
}
.slider-text .stylish-text {
  font-size: 50px;
}
.slider-text {
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 150px;
}
.slider-text-tablecell{
    display: table-cell;
    vertical-align: middle;
}
body , html {
  height: 100%;
}
.slider-bordered-btn {
  border: 1px solid;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  display: inline-block;
  padding: 15px 40px;
  margin-top: 30px;
  font-family: 'MontserratBold';
  font-weight: 700;
  letter-spacing: 5px;
  transition: all .3s linear;
}
.slider-bordered-btn:hover {
  color: var(--main);
  letter-spacing: 15px;
  border-radius: 50px;
  padding: 15px 60px;
}
.slider-bordered-btn:hover svg {
  display: inline-block;
  opacity: 1;
  color:#fff;
}
.slider-bordered-btn svg{
  opacity: 0;
  display: none;
}
.single-content-box {
  background-size: cover;
  background-position: center;
  height: 229px;
  position: relative;
  z-index: 1;
  display: block;
}
 .content-hover-item{
  display: table;
  width: 100%;
  height: 229px;
  text-align: center;
  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.content-hover-item-tablecell {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}
.content-hover-item-tablecell h3 {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'MontserratBold';
    font-size: 14px;
    letter-spacing: 4px;
}
.content-hover-item::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  z-index: -1;
  opacity: 0;
  background: rgb(41,137,216);
background: -moz-linear-gradient(top, rgba(41,137,216,1) 0%, rgba(231,130,129,1) 0%, rgba(231,130,129,1) 0%, rgba(231,130,129,1) 0%, rgba(235,209,131,1) 100%, rgba(233,209,131,1) 100%);
background: -webkit-linear-gradient(top, rgba(41,137,216,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(235,209,131,1) 100%,rgba(233,209,131,1) 100%);
background: linear-gradient(to bottom, rgba(41,137,216,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(235,209,131,1) 100%,rgba(233,209,131,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#e9d183',GradientType=0 );
}
.content-hover-item-tablecell svg {
  font-size: 27px;
  margin-bottom: 10px;
}
.single-content-box::before {
  position: absolute;
  right: -14px;
  bottom: -16px;
  width: 100%;
  height: 17px;
  content: '';
  background: var(--main);
}
.single-content-box::after {
  position: absolute;
  right: -14px;
  bottom: 0;
  width: 17px;
  height: 95%;
  content: '';
  background: var(--main);
}
.single-content-box::after , .single-content-box::before{opacity: 0;transition: .3s} 

.single-content-box:hover .content-hover-item {
    opacity: 1;
    visibility: visible;
}
.single-content-box:hover:after , .single-content-box:hover:before{
    opacity: 1;
}

.content-hover-item:hover:after{
    opacity: .9;
}





/* Service Section - 1 */

.single-service-item h3 {
  font-size: 14px;
}
.single-service-item {
  position: relative;
  z-index: 1;
  display: block;
  color: #999;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 60px;
  transition: .3s;
}
.single-service-item img {
  position: absolute;
  left: 0;
  top: 19%;
}


.single-service-item:hover{
   background: rgb(41,137,216);
background: -moz-linear-gradient(top, rgba(41,137,216,1) 0%, rgba(231,130,129,1) 0%, rgba(231,130,129,1) 0%, rgba(231,130,129,1) 0%, rgba(235,209,131,1) 100%, rgba(233,209,131,1) 100%);
background: -webkit-linear-gradient(top, rgba(41,137,216,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(235,209,131,1) 100%,rgba(233,209,131,1) 100%);
background: linear-gradient(to bottom, rgba(41,137,216,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(235,209,131,1) 100%,rgba(233,209,131,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#e9d183',GradientType=0 );
}




/* Responsive Area */

.responsive-area {
  background-size: cover;
  background-position: center;
  background-color: #999;
  position: relative;
  z-index: 1;
  min-height: 900px;
}
.responsive-area::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: #d9d9d9;
  z-index: -1;
  opacity: .8;
}
.responsive-img img {
  max-width: 600px;
  position: absolute;
  left: 50%;
  bottom: -4%;
  margin-left: -250px;
}



/* Accordian Section */
.accordian-section-img-box {
  background-size: cover;
  background-position: center;
  background-color: #333;
  height: 380px;
  width: 570px;
}

/* Service Testimonial */
.single-service-testimonial-item {
  padding: 50px;
  background: #f8f8f8;
}
.service-testimonial-content {
  position: relative;
  z-index: 1;
  padding: 0 40px;
}
.service-testimonial-content::before, .service-testimonial-content::after {
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'FontAwesome';
  content: '\f10d';
  font-weight: 900;
}
.service-testimonial-content::after {
  content: "\f10e";
  left: auto;
  right: 21%;
  top: auto;
  bottom: -5%;
}
.testimonial-icon {
  display: inline-block;
  font-size: 40px;
  width: 150px;
  height: 150px;
  color: var(--main);
  text-align: center;
  line-height: 150px;
  border: 3px solid;
}


.service-testimonial-section.owl-carousel .owl-nav{
  display: block;
}
.service-testimonial-section.owl-carousel .owl-nav button {
  display: inline-block;
  width: 30px;
  font-size: 30px;
  text-align: center;
  height: 30px;
  position: absolute;
  left: 6%;
  top: 50%;
  margin-top: -15px;
}
.service-testimonial-section.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: 10%;
}
.service-meta {
  position: relative;
  z-index: 2;
  padding: 0 90px;
}
.service-meta::before {
  position: absolute;
  left: 40px;
  top: 50%;
  width: 48px;
  height: 2px;
  content: '';
  background: var(--red);
}



/* Our Team */

.team-bg {
  background-size: cover;
  background-position: center;
  height: 470px;
}
.team-autor-meta h3 {
  font-size: 14px;
  font-family: 'MontserratRegular';
  text-align: center;
  margin: 18px 0;
}
.team-autor-meta h3 span {
  display: block;
  font-size: 71%;
  text-transform: none;
  font-weight: normal;
  margin-top: 3px;
}

.team-hover-content {
  width: 100%;
  height: 470px;
  text-align: center;
  display: table;
  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.team-hover-content-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.social-link a {
  display: inline-block;
  background: #fce38a;
  color: var(--red);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 21px;
  margin: 0 5px;
}
.social-link a:hover {
  background: var(--red);
  color: #fff;
}
.team-hover-content::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(41,137,216);
  background: -moz-linear-gradient(top, rgba(41,137,216,1) 0%, rgba(231,130,129,1) 0%, rgba(231,130,129,1) 0%, rgba(231,130,129,1) 0%, rgba(235,209,131,1) 100%, rgba(233,209,131,1) 100%);
  background: -webkit-linear-gradient(top, rgba(41,137,216,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(235,209,131,1) 100%,rgba(233,209,131,1) 100%);
  background: linear-gradient(to bottom, rgba(41,137,216,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(235,209,131,1) 100%,rgba(233,209,131,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#e9d183',GradientType=0 );
  content: '';
  z-index: -1;
  opacity: 0;
  transition: .3s;
}


.team-hover-content:hover:after{
  opacity: .9;
}
.single-team-member:hover .team-hover-content{
  opacity: 1;
  visibility: visible;
  transition: .3s;
}


/* Portfolio */
.portfolio-item{
  overflow: hidden;
}
.single-portfolio-item {
  background-size: cover;
  background-position: center;
  width: 25%;
  float: left;
  height: 390px;
}
.single-portfolio-item:nth-child(3){
  height: 780px;
}
.single-portfolio-item:hover .portfolio-hover-content{
  opacity: 1;

}
.portfolio-hover-content {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  position: relative;
  z-index: 1;
  opacity: 0;
  transition: .3s;
}
.portfolio-hover-content-tablecell {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}
.portfolio-hover-content-tablecell h3 {
  font-size: 16px;
  color: #fff;
  margin-bottom: 4px;
  margin-top: 15px;
}
.portfolio-hover-content::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
   background: rgb(41,137,216);
background: -moz-linear-gradient(top, rgba(41,137,216,1) 0%, rgba(231,130,129,1) 0%, rgba(231,130,129,1) 0%, rgba(231,130,129,1) 0%, rgba(235,209,131,1) 100%, rgba(233,209,131,1) 100%);
background: -webkit-linear-gradient(top, rgba(41,137,216,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(235,209,131,1) 100%,rgba(233,209,131,1) 100%);
background: linear-gradient(to bottom, rgba(41,137,216,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(231,130,129,1) 0%,rgba(235,209,131,1) 100%,rgba(233,209,131,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#e9d183',GradientType=0 );
  z-index: -1;
  opacity: .8;
}

.testimonial-img {
  top: 50%;
  position: relative;
  margin-top: -55px;
}
.service-testimonial-section.owl-carousel .owl-item .single-service-testimonial-item .testimonial-img img {
  width: 110px;
  display: inline-block;
  border: ;
  height: 110px;
  border-radius: 50%;
}


/* Clients Testimonial Section */
.clients-testimonial-item .owl-item .single-client-testimonial-item .clients-img {
    width: 105px;
    height: 105px;
    display: inline-block;
    border-radius: 50%;
    margin: 50px;
}


.clients-meta {
  font-size: 14px;
  letter-spacing: 3px;
  position: relative;
  z-index: 1;
  padding-bottom: 17px;
}
.clients-meta span {
  display: block;
  font-size: 15px;
  text-transform: none;
  font-family: 'RobotoLightItalic';
  font-weight: normal;
  margin-top: 5px;
  letter-spacing: 0;
}
.clients-testimonial-inner {
    padding: 50px;
}
.clients-meta::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: '';
  background: var(--red);
}


/* Blog Section */
.single-blog-item {
    padding: 10px;
    display: block;
    color:#999;
}
.blog-bg {
  height: 220px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.absolute-box {
    background: var(--main);
    display: inline-block;
    padding: 0 5px;
    width: 70px;
    text-align: center;
    position: absolute;
    left: 0%;
    top: 34%;
    z-index: 3;
}
.absolute-box h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 1px;
}
.absolute-box h3  span{
    font-family: 'RobotoLightItalic';
    font-weight: normal;
    text-transform: none;
    font-size: 15px;
    display: block;
}
.blog-content h3 {
    font-size: 16px;
    margin-top: 20px;
}
.blog-reaction-icon a {
    display: inline-block;
    margin-right: 10px;
    color: var(--main);
    font-weight: 700;
}
.blog-content {
    border-bottom: 1px solid #999;
    margin-bottom: 15px;
}

/* Location Seciton */

.location-area {
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  background-color: #999;
  position: relative;
  z-index: 1;
}
.location-area::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: #d1cece;
  z-index: -1;
  opacity: .8;
}
.location-text {
  z-index: 5;
  color: var(--red);
  display: block;
}
.location-text h3 {
  color: var(--red);
  position: relative;
  z-index: 1;
  font-family: 'MontserratBold';
  padding-bottom: 19px;
}
.location-text svg {
  font-size: 30px;
  margin-bottom: 15px;
}
.location-text h3::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: '';
  background: var(--red);
  margin-left: -30px;
}
/* Footer Section */
.footer-section {
    background-color: #f8f8f8;
    padding-top: 80px;
}
.footer-section h3 {
    font-size: 14px;
    color: #333;
    margin: 35px 0;
}
.footer-logo img {
  max-width: 250px;
  margin: 20px 0;
}
.followers h3 {
  font-size: 14px;
  font-family: 'MontserratRegular';
  text-transform: none;
}
.followers h3 strong {
  font-family: 'MontserratBold';
  font-size: 18px;
  margin: 20px 0;
  margin-right: 15px;
}
.footer-social-links {
    display: inline-block;
    font-size: 20px;
    margin: 0 8px;
    color: var(--main);
}
.followers {
  padding: 20px 0;
}
/* Contact Form Style */
.footer-content {
    padding-right: 29px;
}
.email-sub-form {
    padding: 20px 0;
}
input[type="text"], input[type="email"], input[type="date"], input[type="tel"], input[type="cal"], input[type="submit"], button[type="submit"], textarea {
    width: 59%;
    border: 1px solid #e7e7e7;
    background: #fff;
    padding: 15px;
    border-right: none;
}
input[type="submit"], button[type="submit"] {
    width: 40%;
    background: var(--main);
    border-color: var(--main);
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 16px;
    cursor: pointer;
    font-size: 13px;
    font-family: 'MontserratBold';
    margin-left: -3px;
}
.blog-box {
    overflow: hidden;
    display: block;
}
.blog-box img {
    height: 80px;
    float: left;
    margin-right: 27px;
}
.blog-box p {
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'MontserratRegular';
    color: #333;
}
.blog-box .date{
    font-size: 13px;
    text-transform: none;
    font-family: 'RobotoLightItalic';
}


.instagram-img-box {
    overflow: hidden;
    margin-left: -5px;
    display: block;
}
.single-img-box {
    width: 90px;
    height: 90px;
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
    transition: .3s;
}
.single-img-box:hover {
    transform: scale(1.5);
}
.view-more-btn {
    display: inline-block;
    color: #999;
    margin: 24px 0;
    transition: .2s;
}
.view-more-btn:hover{
    color:var(--main);
    font-weight: 700;
}



.copyright-text-area {
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
}
.copyright-text-area a {
    color: var(--main);
    font-weight: 700;
    letter-spacing: 5px;
    margin-left: 10px;
}